.entryVideo {
	margin: 0 auto;
}

.navbar-brand .navbar-item:hover {
	color: lightgray;
}

.team-header .hero-foot {
	padding: 10px;
}

.team-logo {
	border-radius: 50%;
}

#user_icon {
	border-radius: 50%;
	margin: auto 0;
}

#main-hero {
	background-image: url("/static/img/mainSplash.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.embed-img {
    border: 2px solid grey;
}
