.no-underline {
	text-decoration: none !important;
}

.table {
	background-color: hsl(0, 0%, 96%);
}

.media-link {
	text-decoration: none !important;
}

.media-link:hover {
	background-color: lightgray !important;
}

.user-panel {
	border: none;
	text-decoration: none !important;
}

.content-text {
	text-align: center;
	text-overflow: ellipsis;
}

.user-panel:hover {
	background-color: lightgray !important;
}

.entryVideo {
	margin: 0 auto;
}

.navbar-brand .navbar-item:hover {
	color: lightgray;
}

.team-header .hero-foot {
	padding: 10px;
}

.team-logo {
	border-radius: 50%;
}

#user_icon {
	border-radius: 50%;
	margin: auto auto;
}

#main-hero {
	background-image: url("/static/img/mainSplash.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.embed-img {
    border: 2px solid grey;
}
