.team-header .hero-foot{
	padding:10px;
}

.team-logo{
	border-radius:50%;
}

#main-hero{
	background-image: url("https://raw.githubusercontent.com/jchen2186/cbplatform/master/cbapp/static/img/mainSplash.png");
	background-size: contain;
}