 <!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connect! Chorus Battle</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico">
</head>
<body>
	<nav class="navbar" role="navigation">
		<div class="container">
			<div class="logo">
				<a class="navbar-brand" href="/"><div class='navbar-item'>Connect! Chorus Battle</div></a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/home/">Home</a>
					<a class="navbar-item" href="/community/">Community</a>
					<a class="navbar-item" href="/chorusbattle/">Chorus Battles</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item" id="search-box">
						<form class="field has-addons" action="/search/" method="post">
							<div class="control">
								<input class="input" type="text" placeholder="" name="search">
							</div>
							<div class="control">
								<input type="submit" value="Search" class="button is-info">
							</div>
						</form>
					</div>
					
					{% if session['username'] %}
					<!-- <div id="user-icon"> -->
						<!-- <img src=""> -->
						<a href="{{ url_for('getUserProfile', username=session['username']) }}">
      						<img class="image is-48x48" id="user_icon" src="{% if icon %}data:image/jpeg;charset=utf-8;base64, {{ icon }}{% else %}{{ url_for('static', filename='img/BBB.png }}{% endif %}" />
      					</a>
						<a class="navbar-item" href="{{ url_for('logout') }}">Log Out</a>

					<!-- </div> -->
					{% else %}
					<a class="navbar-item" href="{{ url_for('signup') }}">Sign Up</a>
					<a class="navbar-item" href="{{ url_for('login') }}">Log In</a>
					{% endif %}
				
				</div>
			</div> <!-- navbar-menu -->
		</div> <!-- container -->
	</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        {% if 'You are not' in message or 'Sorry, the deadline for joining this chorus battle has passed.' in message or 'Incorrect username or password.' in message %}
          <div class="notification is-danger">{{ message }}</div>
        {% elif 'not a registered user' in message %}
        	<div class="notification is-warning">{{ message }}</div>
        {% elif 'already' in message %}
          <div class="notification is-info">{{ message }}</div>
        {% else %}
          <div class="notification is-success">{{ message }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% block content %}
{% endblock %}

	<section class="hero is-dark">
		<div class="hero-body container has-text-centered">
			<div class="columns">
				<div class="column">
					<ul>
						<lh class="subtitle is-5">Github</lh>
						<li> <a href="http://github.com/jchen2186/cbplatform"> <i class="fa fa-github" aria-hidden="true"></i> Repo </a> </li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<lh class="subtitle is-5">Connect</lh>
						<li> <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> Twitter </a> </li> 
						<li> <a href="#"> <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook </a> </li>
						<li> <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> Email </a> </li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<lh class="subtitle is-5">Any Questions?</lh>
						<li><a href="/help/faq">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hero-foot has-text-centered">
			<p> Connect! Chorus Battle <i class="fa fa-copyright" aria-hidden="true"></i> magica.py 2017</p>
		</div>
	</section>

</body>
</html>