<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Temporary CB Title</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="{{  url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico">
</head>
<body>
	<nav class="navbar" role="navigation">
		<div class="container">
			<div class="logo">
				<a class="navbar-brand" href="/"><div class='navbar-item'>Chorus Battle!</div></a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/home/">Home</a>
					<a class="navbar-item" href="">Community</a>
					<a class="navbar-item" href="/chorusbattle/">Chorus Battles</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item" id="search-box">
						<form class="field has-addons">
							<div class="control">
								<input class="input" type="text" placeholder="">
							</div>
							<div class="control">
								<input type="submit" value="Search" class="button is-info">
							</div>
						</form>
					</div>
					
					{% if session['username'] %}
					<!-- <div id="user-icon"> -->
						<!-- <img src=""> -->
						{% if user_icon %}
          					<img class="image is-48x48" id="user_icon" src="data:image/png;charset=utf-8;base64, {{ user_icon }}"/>
        				{% endif %}
						<a class="navbar-item" href="{{ url_for('logout') }}">Log Out</a>

					<!-- </div> -->
					{% else %}
					<a class="navbar-item" href="{{ url_for('signup') }}">Sign Up</a>
					<a class="navbar-item" href="{{ url_for('login') }}">Log In</a>
					{% endif %}
				
				</div>
			</div> <!-- navbar-menu -->
		</div> <!-- container -->
	</nav>
{% block content %}
{% endblock %}

	<section class="hero is-dark">
		<div class="hero-body container has-text-centered">
			<div class="columns">
				<div class="column">
					<ul>
						<lh>Github</lh>
						<li> <a href="http://github.com/jchen2186/cbplatform" <i class="fa fa-github" aria-hidden="true"></i> Repo </a> </li>
					</ul>
				</div>
				<div class="column">
					<ul>
						<lh>Connect</lh>
						<li> <a href="#" <i class="fa fa-twitter" aria-hidden="true"></i> Twitter </a> </li> 
						<li> <a href="#" <i class="fa fa-facebook-official" aria-hidden="true"></i> FaceBook </a> </li>
						<li> <a href="#" <i class="fa fa-envelope" aria-hidden="true"></i> Email </a> </li>
					</ul>
				</div>
				<div class="column">
					<p>Any Questions?</p>
					<a href="/help/faq">FAQ</a>
				</div>
			</div>
		</div>
		<p> <i class="fa fa-copyright" aria-hidden="true"></i>Copyright JAVJJ 2017</p>
	</section>

</body>
</html>