{% extends "base.html" %}

{% block content %}

<div class="box has-text-centered">
	<section class="section">
		<div class="container">
			<h1 class="title is-1">CHOOSE YOUR CHORUS BATTLE</h1>
	    </div>
	</section>
</div>

<div class="container">
	<a class="button is-outlined" href="/chorusbattle/CB1">CB1</a>
	<a class="button is-outlined" href="/chorusbattle/CB2">CB2</a>
	<a class="button is-outlined" href="/chorusbattle/CB3">CB3</a>
	<a class="button is-outlined" href="/chorusbattle/CB4">CB4</a>
</div>

{% endblock %}