{% extends "base.html" %}
{% block content %}

{% include "chorusheader.html"%}

<section class="section" style="padding-top:0px">
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<div class="box">
					<div class="content">
						<h3>About</h3>
						<p>
						{{ cb.description }}
						</p>
						<h3>Rules</h3>
						<p>
							{{ cb.rules }}
						</p>
						<h3>Prizes</h3>
							<p>
								{{ cb.prizes }}
							</p>
					</div> <!-- content -->
				</div> <!-- box -->

				<div class="notification is-primary">
						<h3 class="title">Participating Teams!</h3>
						{% if teams %}
						{% for team in teams %}
							<div class="media">
								<div class="media-left">
									<p class="image is-64x64">
										<img src="data:image/jpeg;charset=utf-8;base64, {{ team.team_logo }}"/>
									</p>
								</div> <!-- media-left -->
								<div class ="media-content">
									<p><a href="/team/{{ team.id }}">{{ team.team_name }}</a></p>
								</div>
							</div> <!-- media -->
						{% endfor %}
						{% else %}
							<p>No teams are in this chorus battle yet. Why don't you join?</p>
						{% endif %}
				</div> <!-- notification -->


			</div> <!-- column -->

			<div class="column is-half">
					<div class="container is-fluid">
						<div class="tile is-ancestor">
							<div class="tile is-parent is-vertical">
							{% if cb.video_link != '' %}
								<div class="tile is-child">
									<iframe width=100% height="315" src="{{ cb.video_link }}" frameborder="0" allowfullscreen></iframe>
								</div>
							{% endif %}

							<div class="tile is-child notification is-info">
								<h3 class="title">Judges</h3>
								<div class="content">
									<p>Judge1, Judge2, Judge3</p>
								</div>
								<h3 class="title">Start Date</h3>
								<div class="content">
									<p>11/1/2017 12:00:00 AM EST</p>
								</div>
								<h3 class="title">Deadlines</h3>
								<div class="content">
									<ul>
										{% for i in range(1, maxRound) %}
										<li>Round {{i}}: 
										{% if deadlines[i-1] %}
											{{ deadlines[i-1] }}
										{% else %}
											No date available yet!
										{% endif %}
										</li>
										{% endfor %}
									</ul>
								</div>
								<h3 class="title">Grace Period</h3>
								<div class="content">
								<p>8 points will be taken off per day after the deadline.</p>
								</div>
							</div>
							</div> <!-- parent tile -->
						</div> <!-- ancestor tile -->
					</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}