<section class="hero is-primary" id="chorus-title">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        <a href="/chorusbattle/{{ cb.name }}">{{ cb.name }}</a> 
        <!-- currently reads from whatever goes after chorusInfo/ in the URL-->
      </h1>
      <h2 class="subtitle">
        {{chorusMotto}}
        Welcome to the CB! <!-- delete this when we have an actual subtitle-->
      </h2>
    </div>
  </div> <!-- hero-body -->
</section>

<section class="section">
  <div class="container">
    <div class="level is-mobile">
      <div class ="level-left">
        <div class="level-item">
          <a class="button">
              <span class="icon is-small">
               <i class="fa fa-star"></i>
              </span>
              <span> Subscribe</span>
          </a>
        </div>
        <div class="level-item">
          <a class="button is-success" href="{{ url_for('createTeam', cb=cb.id) }}">
              <span>Join this chorus battle</span>
          </a>
        </div>

        <div class="level-item">
          <a class="button is-primary" href=
          {% if "entries" in request.path %}
            "/chorusbattle/{{ cb.id }}"
          {% else %}
            "/chorusbattle/{{ cb.id }}/entries">
          {% endif %}
              <span>Entries</span>
          </a>
        </div>
      </div> <!-- level-left -->
    </div> <!-- level -->
  </div> <!-- container -->
</section>