{% extends "base.html" %}

{% block content %}

<div class="box has-text-centered">
	<section class="section">
		<div class="container">
			<h1 class="title is-1">CHOOSE YOUR CHORUS BATTLE</h1>
	    </div>
	</section>
</div>

<div class="container">
	{% if 'username' in session %}
		<section class="section">
			<a class="button is-large is-info" href="/create/chorusbattle">Create Chorus Battle</a>
		</section>
	{% endif %}

	{% for cb in info %}
		<section class="section">
			<div class="container">
				<h2 class="title"><a class="is-outlined" href={{ cb.link }}>{{ cb.name }}</a></h2>
				<!-- <h3 class="subtitle">Put your skills to the test.</h3> -->
				<p>{{ cb.description }}<p>
			</div>
		</section>
	{% endfor %}
</div>

{% endblock %}