{% extends "base.html" %}
{% block content %}

{% include "chorusheader.html"%}

<section class="section" style="padding-top:0px">
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<div class="box">
					<div class="content">
						<h3>About</h3>
						<p>
						{{ description }}
						</p>
						<h3>Rules</h3>
						<p>
							{{ rules }}
							<!-- {% for i in rules%}
							{% endfor %}
							<ul>
								<li></li>
								<li></li>
							</ul> -->
						</p>
						<h3>Prizes</h3>
							<p>
								{{ prizes }}
							</p>
							<!-- <ul>
								<li></li>
								<li></li>
							</ul> -->
					</div> <!-- content -->
				</div> <!-- box -->
			</div> <!-- column -->

			<div class="column is-half">
					<div class="container is-fluid">
						<div class="tile is-ancestor">
							<div class="tile is-parent is-vertical">
							<div class="tile is-child">
								<iframe width="560" height="315" src={{ video }} frameborder="0" allowfullscreen></iframe>
							</div>

							<div class="tile is-child notification is-info">
								<h3 class="title">Judges</h3>
								<div class="content">
									<p>Judge1, Judge2, Judge3</p>
								</div>
								<h3 class="title">Start Date</h3>
								<div class="content">
									<p>11/1/2017 12:00:00 AM EST</p>
								</div>
								<h3 class="title">Deadlines</h3>
								<div class="content">
									<ul>
										<li>Round 1: 12/1/2017 12:00:00 AM EST</li>
										<li>Round 2: 1/1/2018 12:00:00 AM EST</li>
										<li>Round 3: 2/1/2018 12:00:00 AM EST</li>
									</ul>
								</div>
								<h3 class="title">Grace Period</h3>
								<div class="content">
								<p>8 points will be taken off per day after the deadline.</p>
								</div>
							</div>
							</div> <!-- parent tile -->
						</div> <!-- ancestor tile -->
					</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}