{% extends "base.html" %}

{% block content %}

<div class="box has-text-centered">
	<section class="section">
		<div class="container">
			<h1 class="title is-1">CHOOSE YOUR CHORUS BATTLE</h1>
	    </div>
	</section>
</div>

<div class="container">
	<section class="section">
		<div class="container">
			<h2 class="title">	<a class="is-outlined" href="/chorusbattle/CB1">Serendipity Competition</a></h2>
			<h3 class="subtitle">Put your skills to the test.</h3>
			<p>Put your creative minds together to create something extraordinary!<p>
		</div>
	</section>
		<section class="section">
		<div class="container">
			<h2 class="title">	<a class="is-outlined" href="/chorusbattle/CB2">Forrest Robin Rounds</a></h2>
			<h3 class="subtitle">Compete against many other talented artists!</h3>
			<p>Many teams of singers, artists, animators, and sound mixers come together to compete for first place.<p>
		</div>
	</section>
		<section class="section">
		<div class="container">
			<h2 class="title">	<a class="is-outlined" href="/chorusbattle/CB3">Ohayo Invitationals</a></h2>
			<h3 class="subtitle">Chorus battles are fun and creative competitions!</h3>
			<p>Many teams of singers, artists, animators, and sound mixers come together to compete for first place.<p>
		</div>
	</section>
		<section class="section">
		<div class="container">
			<h2 class="title">	<a class="is-outlined" href="/chorusbattle/CB4">Speed Singing Competition</a></h2>
			<h3 class="subtitle">Chorus battles are fun and creative competitions!</h3>
			<p>Many teams of singers, artists, animators, and sound mixers come together to compete for first place.<p>
		</div>
	</section>
</div>

{% endblock %}