{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2 class="title is-2">Create a New Chorus Battle</h2>

    <form method="POST" action="/create/chorusbattle">
      {{ form.hidden_tag() }}
      
      <div class="form-group">
        {{ form.name.label }}
          <br>
          {% if form.name.errors %}
            {% for error in form.name.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.name }}
      </div>
      
      <div class="form-group">
        {{ form.description.label }}
          <br>
          {% if form.description.errors %}
            {% for error in form.description.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.description }}
      </div>
      
      <div class="form-group">
        {{ form.rules.label }}
          <br>
          {% if form.rules.errors %}
            {% for error in form.rules.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.rules }}
      </div>

      <div class="form-group">
        {{ form.prizes.label }}
          <br>
          {% if form.prizes.errors %}
            {% for error in form.prizes.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.prizes }}
      </div>

      <div class="form-group">
        {{ form.video_link.label }}
          <br>
          {% if form.video_link.errors %}
            {% for error in form.video_link.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.video_link }}
      </div>

      <br>
      {{ form.submit(class="button is-link") }}
    </form>
  </div>

{% endblock %}