{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-2">Create a New Chorus Battle</h2>

    <form method="POST" action="/create/chorusbattle" class="field">
      {{ form.hidden_tag() }}
      
      <div class="field"> <!-- name -->
        <div class="label">{{ form.name.label }}</div>
        <div class="control">{{ form.name(class_="input") }}</div>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.description.label }}</div>
        <div class="control">{{ form.description(class_="textarea") }}</div>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.rules.label }}</div>
        <div class="control">{{ form.rules(class_="textarea") }}</div>
        {% if form.rules.errors %}
            {% for error in form.rules.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.prizes.label }}</div>
        <div class="control">{{ form.prizes(class_="textarea") }}</div>
          {% if form.prizes.errors %}
            {% for error in form.prizes.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="field">
        {{ form.video_link.label }}
          <br>
          {% if form.video_link.errors %}
            {% for error in form.video_link.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.video_link }}
      </div>

      <br>
      {{ form.submit(class="button is-link") }}
    </form>
  </div>
</section>
{% endblock %}