{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create a New Chorus Battle
      </h1>
    </div>
  </div>
</section>

<section class="hero-body">
  <div class="container">
    <form method="POST" action="/create/chorusbattle/" class="field">
      {{ form.hidden_tag() }}
        
      <div class="field"> <!-- name -->
        <div class="label">{{ form.name.label }}</div>
        <div class="control">{{ form.name(class_="input") }}</div>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.description.label }}</div>
        <div class="control">{{ form.description(class_="textarea") }}</div>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.rules.label }}</div>
        <div class="control">{{ form.rules(class_="textarea") }}</div>
        {% if form.rules.errors %}
            {% for error in form.rules.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.prizes.label }}</div>
        <div class="control">{{ form.prizes(class_="textarea") }}</div>
          {% if form.prizes.errors %}
            {% for error in form.prizes.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.video_link.label }}</div>
        <div class="control">{{ form.video_link(class_="input") }}</div>
          {% if form.video_link.errors %}
            {% for error in form.video_link.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.start_date.label }}</div>
        <div class="control">{{ form.start_date(class_="input") }}</div>
          {% if form.start_date.errors %}
            {% for error in form.start_date.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.no_of_rounds.label }}</div>
        <div class="control">{{ form.no_of_rounds(class_="input") }}</div>
          {% if form.no_of_rounds.errors %}
            {% for error in form.no_of_rounds.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>
      <br>
      {{ form.submit(class="button is-link") }}
    </form>
  </div>
</section>
{% endblock %}