{% extends "base.html" %}
{% block content %}

{% include "chorusheader.html"%}
<div class="level-item">
  <a id="createEntry" class="button is-large is-info" href="#">Create Entry</a>
</div>
<!-- Contains the entries for the chorus battle-->
<div class="tabs">
  <ul>
    <li class="round-tabs is-active"><a onclick="changeTab(event,1)">Round 1</a></li>
    <li class="round-tabs"><a onclick="changeTab(event,2)">Round 2</a></li>
    <li class="round-tabs"><a onclick="changeTab(event,3)">Round 3</a></li>
  </ul>
</div>
{% for round in rounds %}
<section class="section round">
	{% for entry in round %}

	<article class="media">
	<div class="media-content">
    <div class="columns">
  		<div class="content column is-half">
  			<h2> {{entry.title }} </h2>
          <a class="button is-info" href="/chorusbattle/{{chorusTitle}}/judge/{{ entry.title }}"><span>Judge</span>
          </a>
  			<p> {{ entry.owners }} </p>
  			<p> {{ entry.description }} </p>
      </div>
      <iframe style="margin-top:85px" width="560" height="315" src="{{ entry.video }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
  </article>
	{% endfor %}
</section>
{% endfor %}
<script>
  let i;
  let rounds = document.getElementsByClassName("round");
  if (rounds.length > 1) {
    for (i = 1; i < rounds.length; i++) {
      rounds[i].style.display = "none";
    }
    document.getElementById("createEntry").href = "/chorusbattle/{{ chorusTitle }}/entries/1/create/";
  }

  function changeTab(evt, round) {
    let roundTabs = document.getElementsByClassName("round-tabs");
    rounds = document.getElementsByClassName("round");
    for (i = 0; i < roundTabs.length; i++) {
      roundTabs[i].classList.remove('is-active');
    }
    roundTabs[round-1].classList.add('is-active');
    document.getElementById("createEntry").href = "/chorusbattle/{{ chorusTitle }}/entries/"+parseInt(round)+"/create/";
    for (i = 0; i < rounds.length; i++) {
      if (roundTabs[i].classList.contains('is-active')) {
        rounds[i].style.display = "block";
      } else {
        rounds[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}