{% extends "base.html" %}
{% block content %}

{% include "chorusheader.html" %}
<div class="content column">
  {% if 'username' in session %}
    {% if session['role'] == 'Judge' %}
      <a class="button is-large is-info" href="/chorusbattle/{{ cb.id }}/entries/createround/">Create Round</a>
    {% else %}
      <a class="button is-large is-info" href="/chorusbattle/{{ cb.id }}/entries/create/">Create Entry</a>
    {% endif %}
  {% endif %}
</div>
<!-- Contains the entries for the chorus battle-->
<div class="tabs">
  <ul>
    {% for i in range(1, roundCount+1) %}
      <li class="round-tabs"><a onclick="changeTab(event,{{ i }})">Round {{ i }}</a></li>
    {% endfor %}
    {% if maxRound %}
    {% for i in range(roundCount+1, maxRound) %}
      <li class="round-tabs"><a disabled>Round {{ i }}</a></li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
{% for round in rounds %}
<div class="container">
  <div class="columns">
    <div class="column is-4"></div>
    <div class="column is-4">

      <div class="notification">
        <h2 class="title is-4">Round Information</h2>
          <p class="content">
            <strong>Theme: </strong>{{ round[0] }}
            <br>
            <strong>Deadline: </strong>{{ round[1] }}
          <br>
          </p>
      </div>
    </div>
  </div>
</div>
<section class="section round">
	{% for entry in round[2:] %}
  <hr>
	<article class="media">
	<div class="media-content">
    <div class="columns">
  		<div class="content column is-half">
  			<h2> {{ entry.title }} </h2>
          {% if session['role'] == 'Judge' %}
            <p><a class="button is-info" href="/chorusbattle/{{ cb.id }}/entries/{{ entry.id }}/judge"><span>Judge</span></a></p>
          {% endif %}
  			<p> {{ entry.owners }} </p>
  			<p> {{ entry.description }} </p>
        <iframe class="entryVideo" width="560" height="315" src="{{ entry.video_link }}" frameborder="0" allowfullscreen></iframe>
      </div>
      
		</div>
	</div>
  </article>
	{% endfor %}
</section>
{% endfor %}
<script>
  let i;
  let rounds = document.getElementsByClassName("round");
  let roundTabs = document.getElementsByClassName("round-tabs");
  roundTabs[{{ roundCount-1 }}].classList.add('is-active');
  if (rounds.length > 1) {
    for (i = 1; i < rounds.length; i++) {
      rounds[i].style.display = "none";
    }
  }

  function changeTab(evt, round) {
    roundTabs = document.getElementsByClassName("round-tabs");
    rounds = document.getElementsByClassName("round");
    for (i = 0; i < roundTabs.length; i++) {
      roundTabs[i].classList.remove('is-active');
    }
    roundTabs[round-1].classList.add('is-active');
    for (i = 0; i < rounds.length; i++) {
      if (roundTabs[i].classList.contains('is-active')) {
        rounds[i].style.display = "block";
      } else {
        rounds[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}