{% extends "base.html" %}
{% block content %}
<!-- Contains the entries for the chorus battle-->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       {{ chorusTitle }}
      </h1>
      <h2 class="subtitle">
        {{ chorusDescription }}
      </h2>
    </div>
  </div>
</section>
<div class="tabs">
  <ul>
    <li class="is-active"><a>Round 1</a></li>
    <li><a>Round 2</a></li>
    <li><a>Round 3</a></li>
  </ul>
</div>
<section class="section">
	{% for entry in entries %}
		<article class="media">
		<div class="media-content">
			<div class="content">
				<h2> {{ entry.title }} </h2>
				<p> {{ entry.owners }} </p>
				<p> {{ entry.description }} </p>
			</div>
		</div>
	{% endfor %}
</section>

{% endblock %}