{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container">
    <br>

    <div class="columns">
      <div class="column is-4">
        <aside class="menu">

          <p class="menu-label">Chorus Battle Basics</p>
          <ul class="menu-list">
            <li><a href="#what-is-cb">What is a Chorus Battle?</a></li>
            <li><a href="#learning-more">Learning More</a></li>
          </ul>

          <p class="menu-label">Joining Connect! Chorus Battle</p>
          <ul class="menu-list">
            <li><a href="#connect">Connect! Chorus Battle</a></li>
            <li><a href="#creating-account">Creating an Account</a></li>
            <li><a href="#participating">Participating</a></li>
          </ul>

          <p class="menu-label">General Users</p>
          <ul class="menu-list">
            <li><a href="#editing-profile">Editing Profile</a></li>
            <li><a href="#private-public">Making Info Private/Public</a></li>
            <li><a href="#user-role">Changing User Role</a></li>
            <li><a href="#beta-testing-period">Beta Testing Period</a></li>
            <li><a href="#beta-tester">Becoming a Beta Tester</a></li>
          </ul>

          <p class="menu-label">Judges</p>
          <ul class="menu-list">
            <li><a href="#creating-cb">Creating a Chorus Battle</a></li>
            <li><a href="#creating-round">Creating a Round</a></li>
            <li><a href="#embedding-videos">Embedding Videos</a></li>
            <li><a href="#editing-cb">Editing Chorus Battle Info</a></li>
            <li><a href="#participating-judge">Participating as a Judge</a></li>
          </ul>

          <p class="menu-label">Participants</p>
          <ul class="menu-list">
            <li><a href="#making-team">Making a Team</a></li>
            <li><a href="#joining-team">Joining a Team</a></li>
            <li><a href="#joining-cb">Joining a Chorus Battle</a></li>
            <li><a href="#submit-entry">Submitting a Video Entry</a></li>
            <li><a href="#trouble-joining-cb">Trouble Joining a Chorus Battle</a></li>
          </ul>

        </aside>
      </div>

      <div class="column is-8">
        <h1><strong>Frequently Asked Questions</strong></h1>
        <h2>Chorus Battle Basics</h2>
        <hr>

        <a name="what-is-cb"></a>
        <h4>What is a chorus battle?</h4>
        <p>
          A chorus battle is an online, multi-round competition where a community of singers, musicians, editors, artists, and more come together to create covers of music. People form teams and work together to create original music videos for the songs they cover. Along with the videos, teams also write short responses relating to the themes proposed by the judges of the chorus battles.
        </p>

        <a name="learning-more"></a>
        <h4>Where can I learn more about chorus battles?</h4>
        <p>
          There is a large community of chorus battlers on YouTube, Twitter, and wikipages, but they are scattered throughout the Internet. There isn't a single place to keep track of all of the ongoing and archived chorus battles... until now! Although we are still in the development process, we are hoping to unite as many chorus battle participants and hosts as possible in the near future on this very website!
        </p>

        <h2>Joining Connect! Chorus Battle</h2>
        <hr>

        <a name="connect"></a>
        <h4>What is Connect! Chorus Battle?</h4>
        <p>
          Connect! Chorus Battle is an online platform that unites the chorus battle communities that are dispersed throughout the internet. It aims to organize chorus battles so that people can easily find upcoming, ongoing, and archived battles. In doing so, our platform simplifies the process of finding and joining chorus battles for prospective participants, especially newcomers in the community. It will also provide hosts and judges with a place to advertise their chorus battles and tools to help them fairly grade video entries.
        </p>

        <a name="creating-account"></a>
        <h4>How do I create an account on Connect! Chorus Battle?</h4>
        <p>
          Create an account <a href="/signup">here</a>. Provide your information here and choose your desired role: judge, singer, artist, mixer, animator. If you are unsure, choose unassigned. 
        </p>

        <a name="participating"></a>
        <h4>Do I have to participate in chorus battles in order to join?</h4>
        <p>
          Not at all! People who enjoy listening to and following chorus battles can join Connect! Chorus Battle as well in order to stay up-to-date with the ongoings of the community. Although it would be great if all users are active participants, there is no strict requirement that forces users into joining a chorus battle.
        </p>

        <h2>General Users</h2>
        <hr>

        <a name="editing-profile"></a>
        <h4>How can I edit my profile?</h4>
        <p>
          This will be an additional feature to be implemented in the future. You will be able to edit your profile by going to your <a href="">personal profile page</a>. There will be a link on the top right of the page that leads you to a form where you can edit each section of your profile.
        </p>

        <a name="private-public"></a>
        <h4>How do I make information on my profile page public/private?</h4>
        <p>
          This will be an additional feature to be implemented in the future. You will be able to edit the contents on your profile and toggle the privacy settings for each piece of information.
        </p>

        <a name="user-role"></a>
        <h4>When I registered, I chose "unassigned" as my role. Can I change my role now that I know what I want to do?</h4>
        <p>
          This will be an additional feature to be implemented in the future. You will be able to edit your user role by going to your <a href="">settings</a>.
        </p>

        <a name="beta-testing-period"></a>
        <h4>Will there be a beta testing period?</h4>
        <p>
          This is still to be determined, but we definitely hope to have a beta testing period after we complete most of the features for the platform.
        </p>

        <a name="beta-tester"></a>
        <h4>Can I become a beta tester?</h4>
        <p>
          As mentioned previously, whether or not there will be a beta testing period is still to be determined. However, if we do decide on having one, we will post a link on the bottom of the landing page of the site with further information on how to apply to become a beta tester.
        </p>

        <h2>Chorus Battle Hosts: Judges</h2>
        <hr>

        <a name="creating-cb"></a>
        <h4>How do I create a new chorus battle?</h4>
        <p>
          
        </p>

        <a name="creating-round"></a>
        <h4>How do I add rounds to my chorus battle?</h4>
        <p>
          
        </p>

        <a name="embedding-videos"></a>
        <h4>Why are my videos not showing up on the information pages?</h4>
        <p>
          
        </p>

        <a name="editing-cb"></a>
        <h4>I made a mistake when creating my chorus battle. Can I delete or modify the details?</h4>
        <p>
          
        </p>

        <a name="participating-judge"></a>
        <h4>As a judge/host, can I join a chorus battle too?</h4>
        <p>
          
        </p>

        <h2>Chorus Battle Participants: Singers, Artists, Mixers</h2>
        <hr>

        <a name="making-team"></a>
        <h4>How do I make a team?</h4>
        <p>
          
        </p>

        <a name="joining-team"></a>
        <h4>How do I join a team?</h4>
        <p>
          
        </p>

        <a name="joining-cb"></a>
        <h4>How do I join a chorus battle as a team?</h4>
        <p>
          
        </p>

        <a name="submit-entry"></a>
        <h4>How do I make an entry submission for a chorus battle?</h4>
        <p>
          
        </p>

        <a name="trouble-joining-cb"></a>
        <h4>Why can't I join some chorus battles?</h4>
        <p>
          
        </p>

      </div>
    </div>
  </div>
</div>

{% endblock%}