{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container">
    <h1><strong>Frequently Asked Questions</strong></h1>

    <h2>Chorus Battle Basics</h2>
    <hr>
    <h4>What is a chorus battle?</h4>
    <p>
      A chorus battle is an online, multi-round competition where a community of singers, musicians, editors, artists, and more come together to create covers of music. People form teams and work together to create original music videos for the songs they cover. Along with the videos, teams also write short responses relating to the themes proposed by the judges of the chorus battles.
    </p>

    <h4>Where can I find out more about chorus battles?</h4>
    <p>
      There is a large community of chorus battlers on YouTube, Twitter, and wikipages, but they are scattered throughout the Internet. There isn't a single place to keep track of all of the ongoing and archived chorus battles... until now! Although we are still in the development process, we are hoping to unite as many chorus battle participants and hosts as possible in the near future on this very website!
    </p>


    <h2>Joining Connect! Chorus Battle</h2>
    <hr>
    <h4>What is Connect! Chorus Battle?</h4>
    <p>
      Connect! Chorus Battle is an online platform that unites the chorus battle communities that are dispersed throughout the internet. It aims to organize chorus battles so that people can easily find upcoming, ongoing, and archived battles. In doing so, our platform simplifies the process of finding and joining chorus battles for prospective participants, especially newcomers in the community. It will also provide hosts and judges with a place to advertise their chorus battles and tools to help them fairly grade video entries.
    </p>

    <h4>How do I create an account on Connect! Chorus Battle?</h4>
    <p>
      
    </p>

    <h4>Do I have to participate in chorus battles in order to join?</h4>
    <h4>What desktop web browsers do you support?</h4>
    <h4>What mobile web browsers do you support?</h4>

    <h2>General: Users</h2>
    <hr>
    <h4>How can I edit my profile?</h4>
    <h4>How do I make information on my profile page public/private?</h4>

    <h2>Chorus Battle Hosts: Judges</h2>
    <hr>
    <h4>How do I create a new chorus battle?</h4>
    <h4>Why are my videos not showing up on the information pages?</h4>
    <h4>How do I add rounds to my chorus battle?</h4>
    <h4>I made a mistake when creating my chorus battle. Can I delete or modify the details?</h4>
    <h4>As a judge/host, can I join a chorus battle too?</h4>
    <h4></h4>

    <h2>Chorus Battle Participants: Singers, Artists, Mixers</h2>
    <hr>
    <h4>How do I join a team?</h4>
    <h4>How do I make a team?</h4>
    <h4>How do I join a chorus battle as a team?</h4>
    <h4>How do I make an entry submission for a chorus battle?</h4>
    <h4>Why can't I join some chorus battles?</h4>
    <h4></h4>

    <h2>Unassigned Users</h2>
    <hr>
    <h4>When I registered, I chose "unassigned" as my role. Can I change my role now that I know what I want to do?</h4>
    <h4>Can I do anything as an unassigned user?</h4>
  </div>
</div>

{% endblock%}