{% extends "base.html" %}
{% block content %}

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, {{ session.first_name }}!
      </h1>
      <h2 class="subtitle">
        Here's what happened recently.
      </h2>

    </div>
  </div>
</section>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
      <div class="notification is-success">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
        	<h1 class="title is-4">
            	My Chorus Battles
          	</h1>
          	<article class="media">
	          	<figure class="media-left">
	          		<p class="image is-64x64">
	                    <img src="https://bulma.io/images/placeholders/128x128.png">
	                </p>
	            </figure>
	            <div class="media-content">
	            	<div class="content">
	                	<p>
	                    	<strong>Serendipity CB</strong>
	                        <br>
	                        <small>Judge</small>
	                	</p>
	                </div>
	            </div>
            </article>  

          	<article class="media">
	          	<figure class="media-left">
	          		<p class="image is-64x64">
	                    <img src="https://bulma.io/images/placeholders/128x128.png">
	                </p>
	            </figure>
	            <div class="media-content">
	            	<div class="content">
	                	<p>
	                    	<strong>Avocado</strong>
	                        <br>
	                        <small>Singer</small>
	                	</p>
	                </div>
	            </div>
            </article>               
            <br>
            <div class="button">See All</div>
        	<hr>
          	<h1 class="title is-4">
            	Following Chorus Battles
          	</h1>
  
                <br>
                <div class="button">See All</div>
        </div>
        <div class="column is-8">
          <h1 class="title is-4">
            Notifications
          </h1>
          <div class="notification">
            <p class="content">
            <strong>Team</strong> in <strong>Serendipity CB</strong> posted their entry <em>Entry Title</em> for Round 1.
            <br>
            <small>1/1/2018 11:59 PM</small>
            </p>
          </div>
          <div class="notification">
            <p class="content">
            	<strong>Forrest Robin</strong> is opened for sign-ups!
            <br>
            <small>1/1/2018 11:59 PM</small>
            </p>
          </div>


          <div class="notification is-info">
            <h2 class="title is-4">Check out these chorus battles!</h2>
            <article class="media">
	            <figure class="media-left">
	             <p class="image is-64x64">
	              <img src="https://bulma.io/images/placeholders/128x128.png">
	            </p>
	            </figure>
	            <div class="media-content">
	              <div class="content">
	                <p>
	                  <strong>Forrest Robin</strong> 
	                  <br>
	                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
	                  <br>
	                  <small>Sign-up ends: 1/1/18</small>
	                </p>
	              </div>
	            </div>
          	</article>
          	<hr>
            <article class="media">
	            <figure class="media-left">
	             <p class="image is-64x64">
	              <img src="https://bulma.io/images/placeholders/128x128.png">
	            </p>
	            </figure>
	            <div class="media-content">
	              <div class="content">
	                <p>
	                  <strong>Ohayo Invitationals</strong> 
	                  <br>
	                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
	                  <br>
	                  <small>Sign-up ends: 1/1/18</small>
	                </p>
	              </div>
	            </div>
          	</article>          	

          </div>
         
        </div>
      </div>

    </div>
  </section>

  {% endblock %}