{% extends "base.html" %}
{% block content %}

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, {{ session.first_name }}!
      </h1>
      <p class="subtitle">
        Here's what happened recently.
      </p>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
      	<h2 class="title is-4">
          	My Chorus Battles
        	</h2>
        	<article class="media">
            <div class="media-content">
              {% if my_cbs %}
                {% for cb in my_cbs%}
            	<div class="content">
                	<p>
                    	<a href="{{ url_for('chorusInfo', cb=cb.id )}}"><strong>{{ cb.name }}</strong></a>
                	</p>
                </div>
                {% endfor %}
              {% else %}
              <div class="content">
                <p> You are not part of any chorus battles</p>
              </div>
              {% endif %}
            </div>
          </article>               
          <br>
          <div class="button">See All</div>
      	<hr>
        	<h2 class="title is-4">
          	Following Chorus Battles
        	</h2>
            <div class="content">
            {% if subs %}
              <div class="tags">
                {% for sub in subs%}
                <span class="tag"><a href="{{ url_for('chorusInfo', cb=sub.id )}}">{{sub.name}}</a></span>
                {% endfor %}
              </div>
              {% else %}
              <p>You are not subscribed to any chorus battles.</p>
            {% endif %}
              <br>
              <div class="button">See All</div>
            </div>
      </div>
      <div class="column is-8">
        {% if team_requests %}
          <h1 class="title is-4">
            Team Requests
          </h1>
          {% for team_request in team_requests %}
          <div class="notification is-info">
            <p class="content">
              <a class="no-underline" href="{{ url_for('getUserProfile', username=team_request['username']) }}">{{ team_request['username'] }}</a> has requested to join <a class="no-underline" href="{{ url_for('team', teamID=team_request['id']) }}">{{ team_request['team_name'] }}</a>. <a class="button is-small is-success" href="{{ url_for('acceptTeam', teamID=team_request['id'], userID=team_request['userID']) }}">Invite</a> <a class="button is-small is-danger" href="{{ url_for('rejectTeam', teamID=team_request['id'], userID=team_request['userID']) }}">Reject</a>
            </p>
          </div>
          {% endfor %}
        {% endif %}
        {% if team_invites %}
          <h1 class="title is-4">
            Team Invitations
          </h1>
          {% for team_invite in team_invites %}
            <div class="notification is-info">
              <p class="content">
                You have been invited to <a class="no-underline" href="{{ url_for('team', teamID=team_invite.id) }}"><strong>{{ team_invite.team_name }}</strong></a>. <a class="button is-small is-success" href="{{ url_for('joinTeam', teamID=team_invite.id) }}">Accept</a> <a class="button is-small is-danger" href="{{ url_for('declineTeam', teamID=team_invite.id) }}">Decline</a>
              </p>
            </div>
          {% endfor %}
        {% endif %}
        <h1 class="title is-4">
          Notifications
        </h2>
        <a class="button" href="/home/notifications/" style="margin-left:10px">See All </a>

        {% if notifications %}
          {% for notif in notifications%}
            <div class="notification">
              <p class="content">
                {{ notif.message }}
                <br>
                <small>{{notif.date_posted}}</small>
                
              </p>
            </div>
          {% endfor %}
        {% endif %}

        <hr>
        
        <div class="notification is-info">
          <h2 class="title is-4">Check out these chorus battles!</h2>
          {% for rec in recs %}
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <a href="{{ url_for('chorusInfo', cb=rec.id )}}"><strong>{{ rec.name }}</strong></a>
                  <br>
                  {{ rec.description }}
                  <br>
                  <small>Sign-up ends: {{ rec.start_date }}</small>
                </p>
              </div>
            </div>
        	</article>   
          {% endfor %}     	

        </div>
       
      </div>
    </div>

  </div>
</section>

  {% endblock %}