{% extends "base.html" %}
{% block content %}
<!-- landing page -->
<section class="hero is-fullheight" id="main-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-shadow: 2px 2px 4px white;">
        Everybody let's chorus battle!
      </h1>
      <h2 class="subtitle" style="text-shadow: 2px 2px 4px white;">
        Sing, draw, create to your heart's content.
      </h2>
    </div>
  </div>
</section>

<section class="hero is-light" id="information">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-one-third">
					<h2 class="title is-5">Find chorus battles and teams</h2>
					<p class="content">Search through chorus battles and join one of your liking!</p>
				</div>
				<div class="column is-one-third">
					<h2 class="title is-5">Keep up to date with your favorites</h2>
					<p class="content">Subscribe to chorus battles and teams to get notified about the latest updates!</p>
				</div>
				<div class="column is-one-third">
					<h2 class="title is-5">Easily organize your own battles</h2>
					<p class="content">Can't find something you like? Make your own! Our judging tool makes it easy to organize and manage your own tournaments.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container has-text-centered">
		<div class="columns">
			<div class="column is-one-third">
				<h2 class="title">What is a chorus battle?</h2>
				<h3 class="subtitle">Chorus battles are fun and creative competitions!</h3>
				<p class="content">A chorus battle is an online, multi-round competition where a community of singers, musicians, editors, artists, and more come together to create covers of music. People form teams and work together to create original music videos for the songs they cover. Along with the videos, teams also write short responses relating to the themes proposed by the judges of the chorus battles.</p>
			</div>
			<div class="column is-two-third">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/6x7NC8bLH_Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
{% endblock %}