{% extends "base.html" %}
{% block content %}
<!-- landing page -->
<section class="hero is-fullheight" id="main-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-shadow: 2px 2px 4px white;">
        Everybody let's chorus battle!
      </h1>
      <h2 class="subtitle" style="text-shadow: 2px 2px 4px white;">
        Sing, draw, create to your heart's content.
      </h2>
    </div>
  </div>
</section>

<section class="section" id="information">
	<div class="container">
		<div class="columns">
			<div class="column is-one-third">
				<h2 class="title is-5">Find chorus battles and teams</h2>
			</div>
			<div class="column is-one-third">
				<h2 class="title is-5">Keep up to date with your favorites</h2>
			</div>
			<div class="column is-one-third">
				<h2 class="title is-5">Easily organize your own battles</h2>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container has-text-centered">
		<h2 class="title">What is a chorus battle?</h2>
		<h3 class="subtitle">Chorus battles are fun and creative competitions!</h3>
		<p>Many teams of singers, artists, animators, and sound mixers come together to compete for first place.<p>
	</div>
</section>
{% endblock %}