{% extends "base.html" %}
{% block content %}

<section class="hero is-primary">
<div class="hero-body has-text-centered">
  <div class="container">
    <h1 class="title">
      Judging for {{ chorusbattle['id'] }}
    </h1>
    <h2 class="subtitle">
        Team 2&ensp;-&ensp;Entry {{ entry['id'] }} 
    </h2>
  </div>
</div>
</section>
<br>
<div class ="hero-body">
<div class="container">
<div class="columns">
	<div class="column is-half">
		<form method="POST" action="/chorusbattle/{{ chorusbattle['id'] }}/entries/{{ entry['id'] }}/judge"/>
			{{ form.hidden_tag() }}
	          
			<table class="table">
			<thead>
			<tr>
				<th><abbr title="Criteria">Criteria</abbr></th>
				<th><abbr title="Score">Score</abbr></th>
				<th><abbr title="Comments">Comments</abbr></th>
			</tr>
			</thead>

			<tbody>
			<tr>
			<th>Vocals</th>
			<td>
			<div class="field">
				<div class="control">
				    <div class="select is-primary">
				      {{ form.vocals }}
					</div>
				</div>
				{% if form.vocals.errors %}
		            {% for error in form.vocals.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td>
				{{ form.vocals_comment(class="textarea", placeholder="Enter comments.") }}
			</td>
			</tr>
			<th>Instrumental</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.instrumental }}
			    </div>
			  </div>
			  	{% if form.instrumental.errors %}
		            {% for error in form.instrumental.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td>
				{{ form.instrumental_comment(class="textarea", placeholder="Enter comments.") }}
			</td>
			</tr>
			<tr>
			<th>Art</th>
			<td>
			<div class="field">
				<div class="control">
				  	<div class="select is-primary">
				      	{{ form.art }}
				  	</div>
			  	</div>
			  	{% if form.art.errors %}
		            {% for error in form.art.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td>
				{{ form.art_comment(class="textarea", placeholder="Enter comments.") }}
			</td>
			</tr>
			<tr>
			<th>Editing</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.editing }}
			    </div>
			  </div>
				{% if form.editing.errors %}
		            {% for error in form.editing.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td>
				{{ form.editing_comment(class="textarea", placeholder="Enter comments.") }}
			</td>
			</tr>
			<tr>
			<th>Transitions</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.transitions }}
			    </div>
			  </div>
			  	{% if form.transitions.errors %}
		            {% for error in form.transitions.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td>
				{{ form.transitions_comment(class="textarea", placeholder="Enter comments.") }}
			</td>
			</tr>
			</tbody>
			</table>
			{{ form.submit(class="button is-primary") }}

		</form>
	</div>
	<div class="column">
		<iframe width="560" height="315" src=" {{ entry['video_link']}}" frameborder="0" allowfullscreen></iframe>
	    <br><br><p> 
        </p>
	</div>
</div>
</div>
</div>
	

{% endblock %}