{% extends "base.html" %}
{% block content %}

<section class="hero is-primary">
<div class="hero-body has-text-centered">
  <div class="container">
    <h1 class="title">
      Judging for {{ chorusBattle }}
    </h1>
    <h2 class="subtitle">
        Team 2&ensp;-&ensp;Entry {{ entry }} 
    </h2>
  </div>
</div>
</section>
<br>
<div class ="hero-body">
<div class="container">
<div class="columns">
	<div class="column is-half">
		<form method="POST" action="/chorusbattles/{{ chorusBattle }}/judge/{{ entry }}"/>
			{{ form.hidden_tag() }}
	          
			<table class="table">
			<thead>
			<tr>
				<th><abbr title="Criteria">Criteria</abbr></th>
				<th><abbr title="Score">Score</abbr></th>
				<th><abbr title="Comments">Comments</abbr></th>
			</tr>
			</thead>

			<tbody>
			<tr>
			<th>Vocals</th>
			<td>
			<div class="field">
				<div class="control">
				    <div class="select is-primary">
				      {{ form.vocals }}
					</div>
				</div>
				{% if form.team_name.errors %}
		            {% for error in form.vocals.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td><textarea class="textarea" placeholder="Enter comments."></textarea></td>
			</tr>
			<th>Instrumental</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.instrumental }}
			    </div>
			  </div>
			  	{% if form.instrumental.errors %}
		            {% for error in form.instrumental.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td><textarea class="textarea" placeholder="Enter comments."></textarea></td>
			</tr>
			<tr>
			<th>Art</th>
			<td>
			<div class="field">
				<div class="control">
				  	<div class="select is-primary">
				      	{{ form.art }}
				  	</div>
			  	</div>
			  	{% if form.art.errors %}
		            {% for error in form.art.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td><textarea class="textarea" placeholder="Enter comments."></textarea></td>
			</tr>
			<tr>
			<th>Editing</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.editing }}
			    </div>
			  </div>
				{% if form.editing.errors %}
		            {% for error in form.editing.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td><textarea class="textarea" placeholder="Enter comments."></textarea></td>
			</tr>
			<tr>
			<th>Transitions</th>
			<td>
			<div class="field">
			  <div class="control">
			    <div class="select is-primary">
			        {{ form.transitions }}
			    </div>
			  </div>
			  	{% if form.transitions.errors %}
		            {% for error in form.transitions.errors %}
		              <p class="is-danger">{{ error }}</p>
		            {% endfor %}
		        {% endif %}
			</div>
			</td>
			<td><textarea class="textarea" placeholder="Enter comments."></textarea></td>
			</tr>
			</tbody>
			</table>
		</form>
		<a class="button is-primary">Submit Score</a>
	</div>
	<div class="column">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/G2lXOwRi7Tk" frameborder="0" allowfullscreen></iframe>
	    <br><br><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis, nibh a vestibulum interdum, massa leo posuere libero, et elementum est magna in mi. Donec ligula lorem, pulvinar nec dapibus sit amet, consectetur vitae tortor. Proin venenatis augue dignissim, imperdiet tellus ac, maximus lacus. Etiam at urna risus. Donec bibendum nec elit at pharetra. Aenean hendrerit est vel eleifend pellentesque. Aenean at lacus iaculis, semper velit sed, sodales ex.
        </p>
	</div>
</div>
</div>
</div>
	

{% endblock %}