{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="is-size-2 has-text-centered">Login</h2><br>
    <div class="columns">
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
    <form method="POST" action="/login/">
      {{ form.hidden_tag() }}

      <div class="field">
        <div class="label">{{ form.username.label }}</div>
        <div class ="control">{{ form.username(class_="input") }}</div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% if form.username.errors %}
            {% for error in form.username.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.password.label }}</div>
        <div class="control">{{ form.password(class_="input") }}</div>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <p class="is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
      </div>
      
      <br>
      <div class="has-text-centered">
        {{ form.submit(class="button is-link") }}
      </div>
    </form>
  </div>
  </div>
  </div>
</section>
{% endblock %}