{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="is-size-2 has-text-centered">Create an account</h2><br>

    <form method="POST" action="/signup/">
      {{ form.hidden_tag() }}
      <div class="columns">
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="label">{{ form.first_name.label }}</div>
            <div class="control">{{ form.first_name(class_="input") }}</div>
            {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
                <p class="is-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>

          <div class="field">
            <div class="label">{{ form.last_name.label }}</div>
            <div class="control">{{ form.last_name(class_="input") }}</div>
            {% if form.last_name.errors %}
              {% for error in form.last_name.errors %}
                <p class="is-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>

      <div class="field">
        <div class="label">{{ form.email.label }}</div>
        <div class="control">{{ form.email(class_="input") }}</div>
        {% if form.email.errors %}
          {% for error in form.email.errors %}
            <p class="is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="field">
        <div class="label">{{ form.username.label }}</div>
        <div class="control">{{ form.username(class_="input") }}</div>
        {% if form.username.errors %}
          {% for error in form.username.errors %}
            <p class="is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.password.label }}</div>
        <div class="control">{{ form.password(class_="input") }}</div>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <p class="is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      
      <div class="field">
        <div class="label">{{ form.role.label }}</div>
        <div class="control">
          <div class="select">
            {{ form.role }}
          </div>
        </div>
        {% if form.role.errors %}
          {% for error in form.role.errors %}
            <p class="is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <br>
      <div class="has-text-centered">
      {{ form.submit(class="button is-link") }}
      </div>
    </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}