{% extends "base.html" %}

{% block content %}

{% if currentUser == team.leader_id %}
<div class="modal">
  <div class="modal-background" onclick="showInviteModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Invite User</p>
      <button class="delete" onclick="showInviteModal()" aria-label="close"></button>
    </header>
    <form method="POST" action="/team/{{ team.id }}/invite/">
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="label">{{ form.username.label }}</div>
              <div class="control">{{ form.username(class_="input", id="userinput") }}</div>
              {% if form.username.errors %}
                {% for error in form.username.errors %}
                  <p class="is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>
      </section>
      <footer class="modal-card-foot">
        {{ form.submit(class="button is-link") }}
      </footer>
    </form>
  </div>
</div>
{% endif %}
<section class="hero is-primary team-header">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <!-- team logo -->
          {% if team.team_logo %}
            <img class="team-logo image is-128x128" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ team_logo }}" />
          {% else %}
            <img src="http://via.placeholder.com/200x200" class="team-logo" />
          {% endif %}
        </div>
        <div class="column is-three-quarters">
          <h1 class="title">
            {{ team.team_name }}  {% if currentUser == team.leader_id %}<button class="button is-info" onclick="showInviteModal()">Invite user</button>{% elif team_user %}
            {% if team_user.member_status == 'pending' %}<a class="button is-success" href="{{ url_for('joinTeam', teamID=team.id) }}">Accept</a> <a class="button is-danger" href="{{ url_for('declineTeam', teamID=team.id) }}">Decline</a>{% endif %}{% else %}
            <a class="button is-info" href="{{ url_for('requestTeam', teamID=team.id) }}">Request to Join</a>{% endif %}
          </h1>
          <h2 class="subtitle">
            Team Motto
          </h2>
        </div>
      </div> <!-- columns -->
    </div> <!-- container -->
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="notification" id="current-cb">
          <h2 class="title is-4">Current Chorus Battle!</h2>
          <p class="content">{% if chorusBattle %}{{ chorusBattle }}{% else%}none yet : ({% endif%}</p>
        </div>
        <div class="notification is-info" id="notices">
          <h2 class="title is-4">Notices</h2>
          <p class="content">[Media Posts]</p>
        </div>
        <div class="notification" id="about">
          <h2 class="title is-4">About</h2>
          <p class="content">We r team</p>
        </div>
        <div class="notification" id="past-cb">
          <h2 class="title is-4">Past Chorus Battles</h2>
          <p class="content"></p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="notification" id="looking-roles">
          <h2 class="title is-4">Open Roles</h2>
          <p class="content">Closed!</p>
        </div>
        <div class="notification" id="current-members">
          <h2 class="title is-4">Current Members</h2>
          <div class="columns">
            {% for member in team_members %} 
              <a class="user-panel" href="{{ url_for('getUserProfile', username=member['user'].username) }}">
                <div class="column">
                  <img class="image is-48x48" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ member.user_icon }}" /><p class="content-text">{{ member['user'].username }}<br>{{ member.role }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="notification" id="past-members">
          <h2 class="title is-4">Past Members</h2>
          <p class="content"></p>
        </div>
      </div>
    </div> <!-- columns -->
  </div> <!-- container -->
</section>
<script>
  function showInviteModal() {
    let modal = document.getElementsByClassName('modal')[0];
    modal.classList.toggle('is-active');
    document.getElementById('userinput').focus();
  }
</script>
{% endblock %}