{% extends "base.html" %}

{% block content %}
<section class="hero is-primary is-medium team-header">
  <div class="hero-body">
  </div>
  <div class="hero-foot">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <!-- team logo -->
          <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200" class="team-logo"></a>
        </div>
        <div class="column is-three-quarters">
          <h1 class="title">
            Team Title
          </h1>
          <h2 class="subtitle">
            Team Motto
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}