{% extends "base.html" %}

{% block content %}

{% if currentUser == team.leader_id %}
<div class="modal">
  <div class="modal-background" onclick="showInviteModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Invite User</p>
      <button class="delete" onclick="showInviteModal()" aria-label="close"></button>
    </header>
    <form method="POST" action="/team/{{ team.id }}/invite/">
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="label">{{ form.username.label }}</div>
              <div class="control">{{ form.username(class_="input", id="userinput") }}</div>
              {% if form.username.errors %}
                {% for error in form.username.errors %}
                  <p class="is-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
        </div>
      </div>
      </section>
      <footer class="modal-card-foot">
        {{ form.submit(class="button is-link") }}
      </footer>
    </form>
  </div>
</div>
{% endif %}
<section class="hero is-primary team-header">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <!-- team logo -->
          {% if team.team_logo %}
            <img class="team-logo image is-128x128" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ team_logo }}" />
          {% else %}
            <img src="http://via.placeholder.com/200x200" class="team-logo" />
          {% endif %}
        </div>
        <div class="column is-three-quarters">
          <h1 class="title">
            {{ team.team_name }}  {% if 'username' in session %}{% if currentUser == team.leader_id %}<button class="button is-info" onclick="showInviteModal()">Invite user</button>{% elif team_user %}
            {% if team_user.member_status == 'pending' %}<a class="button is-success" href="{{ url_for('joinTeam', teamID=team.id) }}">Accept</a> <a class="button is-danger" href="{{ url_for('declineTeam', teamID=team.id) }}">Decline</a>{% endif %}{% else %}
            <a class="button is-info" href="{{ url_for('requestTeam', teamID=team.id) }}">Request to Join</a>{% endif %}{% endif %}
          </h1>
          <h2 class="subtitle">
          </h2>
        </div>
      </div> <!-- columns -->
    </div> <!-- container -->
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="notification" id="current-cb">
          <h2 class="title is-4">Current Chorus Battle!</h2>
          <p class="content">{% if chorusBattle %}<a class="no-underline" href="{{ url_for('chorusInfo', cb=team.chorusbattle) }}"><strong>{{ chorusBattle }}</strong></a>{% else%}none yet : ({% endif%}</p>
        </div>
        <div class="notification" id="about">
          <h2 class="title is-4">About {% if currentUser == team.leader_id %}<button class="button is-small is-info" onclick="editAbout()">Edit</button>{% endif %}</h2>
          <p class="content" id="aboutText">
            {% if team.about %}
            {{ team.about.replace('\r\n', '<br />\n') | safe }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="notification" id="looking-roles">
          <h2 class="title is-4">Open Roles {% if currentUser == team.leader_id %}<button class="button is-small is-info" onclick="editOpenRoles()">Edit</button>{% endif %}</h2>
          <p class="content" id="open_roles">
            {% if team.open_roles %}
            {{ team.open_roles.replace('\r\n', '<br />\n') | safe }}
            {% endif %}
          </p>
        </div>
        <div class="notification" id="current-members">
          <h2 class="title is-4">Current Members</h2>
          <div class="columns">
            {% for member in team_members %} 
              <a class="user-panel" href="{{ url_for('getUserProfile', username=member['user'].username) }}">
                <div class="column">
                  <img class="image is-48x48" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ member.user_icon }}" /><p class="content-text">{{ member['user'].username }}<br>{{ member.role }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> <!-- columns -->
  </div> <!-- container -->
</section>
<script>
  function showInviteModal() {
    let modal = document.getElementsByClassName('modal')[0];
    modal.classList.toggle('is-active');
    document.getElementById('userinput').focus();
  }

function editOpenRoles() {
  let status = document.getElementById('open_roles');
  if (status.classList.contains('is-active')) {
    status.innerHTML = `{% if team.open_roles %}
                        {{ team.open_roles.replace('\r\n', '<br />\n') | safe }}
                        {% endif %}`;
    status.classList.remove('is-active');
  } else {
    status.innerHTML = `
    <form method="post" action="/team/{{ team.id }}/">
      <div class="field">
        <div class="control">
        <textarea class="textarea" placeholder="{{ team.open_roles }}" rows="4" cols="50" name="open_roles">{{ team.open_roles }}</textarea>
        <br>
        <input type="submit" class="button is-small is-info" value="Update" />
        </div>
      </div>
    </form>
    `;
    status.classList.add('is-active');
  }
}

  function editAbout() {
  let about = document.getElementById('aboutText');
  if (about.classList.contains('is-active')) {
    about.innerHTML = `{% if team.about %}
                      {{ team.about.replace('\r\n', '<br />\n') | safe }}
                      {% endif %}`;
    about.classList.remove('is-active');
  } else {
    about.innerHTML = `
    <form method="post" action="/team/{{ team.id }}/">
      <div class="field">
        <div class="control">
        <textarea class="textarea" placeholder="{{ team.about }}" rows="4" cols="50" name="about">{{ team.about }}</textarea>
        <br>
        <input type="submit" class="button is-small is-info" value="Update" />
        </div>
      </div>
    </form>
    `;
    about.classList.add('is-active');
  }
}

</script>
{% endblock %}