{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

<div class="box has-text-centered">
	<h1 class="title is-1">CHORUS BATTLE TEAM</h1>
</div>

<div class="select is-primary is-large">
	<select>
		<option>ROUND 1</option>
        <option>ROUND 2</option>
        <option>ROUND 3</option>
    </select>
</div>

<section class="section">
	<div class="container">
		<h1 class="title">Section</h1>
      	<h2 class="subtitle">
      		A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
     	</h2>
    </div>
</section>



