{% extends "base.html" %}

{% block content %}

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{cbname}}</h1>
    </div>
  </div>
</section>

<div class="select is-primary is-large">
	<select>
		<option>ROUND 1</option>
        <option>ROUND 2</option>
        <option>ROUND 3</option>
    </select>
</div>

<div class="box">
	<section class="section">
		<div class="container">
			<h1 class="title is-2">TEAM NAME</h1>
			<nav class="level">
				<div class="level-left">
					<iframe class="level-item" width="560" height="315" src="https://www.youtube.com/embed/P48abml48JM" frameborder="0" allowfullscreen></iframe>
					<h1 class="title is-5 level-item">SCORE:1</h1>
				</div>
			</nav>
	    </div>
	</section>
</div>

<div class="box">
	<section class="section">
		<div class="container">
			<h1 class="title is-2">TEAM NAME</h1>
			<nav class="level">
				<div class="level-left">
					<iframe class="level-item" width="560" height="315" src="https://www.youtube.com/embed/P48abml48JM" frameborder="0" allowfullscreen></iframe>
					<h1 class="title is-5 level-item">SCORE:2</h1>
				</div>
			</nav>
	    </div>
	</section>
</div>

<div class="box">
	<section class="section">
		<div class="container">
			<h1 class="title is-2">TEAM NAME</h1>
			<nav class="level">
				<div class="level-left">
					<iframe class="level-item" width="560" height="315" src="https://www.youtube.com/embed/P48abml48JM" frameborder="0" allowfullscreen></iframe>
					<h1 class="title is-5 level-item">SCORE:3</h1>
				</div>
			</nav>
	    </div>
	</section>
</div>

{% endblock %}



