{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

<div class="box has-text-centered">
	<h1 class="title is-1">CHORUS BATTLE TEAM</h1>
</div>

<div class="select is-primary is-large">
	<select>
		<option>ROUND 1</option>
        <option>ROUND 2</option>
        <option>ROUND 3</option>
    </select>
</div>

<div class="box">
	<section class="section">
		<div class="container">
			<h1 class="title is-2">TEAM NAME</h1>
			<div class="container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/P48abml48JM" frameborder="0" allowfullscreen></iframe>
			<h1 class="title is-5">SCORE:1</h1>
	    </div>
	</section>
</div>



