{% extends "base.html" %}

{% block content %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-gapless">
            <div class="column is-one-quarter">
              {% if user_icon %}
                <img class="image is-128x128" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ user_icon }}"/>
              {% else %}
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
              {% endif %}
            </div>

            <div class="column is-three-quarters">
              <h1 class="title">
                {{ user.username }}<br>
              </h1>
              <h2 class="subtitle">
                {{ role }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <div class="notification">
              <h2 class="title is-4">About</h2>
              <p class="content">
                {{ user.description }}
              </p>
            </div>

            <div class="notification">
              <h2 class="title is-4">Current Competitions</h2>
                <table class="table is-fullwidth is-hoverable">
                  <thead>
                    <tr>
                      <th>Competition</th>
                      <th>Team</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for team in teams %}
                      <tr>
                        <td><a class="no-underline" href="{{ url_for('chorusInfo', cb=team['cid']) }}">{{ team['chorusbattle'] }}</a></td>
                        <td> <a class="no-underline" href="{{ url_for('team', teamID=team['id']) }}">{{ team['team_name'] }}</a></td>           
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>            
          </div>

          <div class="column is-4">
            <div class="notification">
              <h2 class="title is-4">Current Status <button class="button is-small is-info" onclick="editCurrentStatus()">Edit</button></h2>

              <div class="content" id="current_status">
                {{ user.current_status }}
              </div>
            </div>
            <div class="notification">
              <h2 class="title is-4">Social Media</h2>
              <div class="content">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script>

  function editCurrentStatus() {
    let status = document.getElementById('current_status');
    if (status.classList.contains('is-active')) {
      status.innerHTML = '{{ user.current_status }}';
      status.classList.remove('is-active');
    } else {
      status.innerHTML = `
      <form method="post" action="/user/{{ user.username }}/">
        <div class="field">
          <div class="control">
          <textarea class="textarea" placeholder="{{ user.current_status }}" rows="4" cols="50" name="current_status">{{ user.current_status }}</textarea>
          <br>
          <input type="submit" class="button is-small is-info" value="Update" />
          </div>
        </div>
      </form>
      `;
      status.classList.add('is-active');
    }


  }
</script>
{% endblock %}