{% extends "base.html" %}

{% block content %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-gapless">
            <div class="column is-one-quarter">
              {% if user_icon %}
                    <img class="image is-128x128" id="user_icon" src="data:image/jpeg;charset=utf-8;base64, {{ user_icon }}"/>
              {% else %}
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
              {% endif %}
            </div>

            <div class="column is-three-quarters">
              <h1 class="title">
                {{ username }}<br>
              </h1>
              <h2 class="subtitle">
                {{ role }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <div class="notification">
              <h2 class="title is-4">About</h2>
              <p class="content">
                user's personal description goes here
              </p>
            </div>

            <div class="notification">
              <h2 class="title is-4">Showcase</h2>
              <div class="content">
                embedded chorus battle entries that user participated in
              </div>
            </div>

            <div class="notification">
              <h2 class="title is-4">Social Media</h2>
            
              <div class="columns">
                <div class="column is-one-third">
                  YouTube
                </div>

                <div class="column is-one-third">
                  Twitter
                </div>
                
                <div class="column is-one-third">
                  Other
                </div>

              </div>
            </div>
            
          </div>

          <div class="column is-4">
            <div class="notification">
              <h2 class="title is-4">Current Status</h2>
              <div class="content">
                looking for chorus battle to join or already participating in x chorus battle
              </div>
            </div>
            <div class="notification">
              <h2 class="title is-4">Achievements</h2>
              <div class="content">
                <ul>
                  <li>list</li>
                  <li>of</li>
                  <li>achievements</li>
                </ul>
              </div>
            </div>
            <div class="notification">
              <h2 class="title is-4">Recent Activity</h2>
              <div class="content">
                maybe put links to chorus battle entries that the user liked
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}